.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.967773;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.967773;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-6.188000px;}
._1{margin-left:-2.380000px;}
._2{margin-left:-1.223992px;}
.fc2{color:rgb(102,102,102);}
.fc1{color:rgb(0,0,204);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs3{font-size:42.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:68.000000px;}
.y1f{bottom:112.664978px;}
.y1e{bottom:125.664978px;}
.y1d{bottom:143.164978px;}
.y1c{bottom:155.776001px;}
.y1b{bottom:178.164978px;}
.y1a{bottom:191.164978px;}
.y19{bottom:204.164978px;}
.y18{bottom:217.165009px;}
.y17{bottom:234.665009px;}
.y16{bottom:247.276001px;}
.y15{bottom:269.665009px;}
.y14{bottom:287.165009px;}
.y13{bottom:299.776001px;}
.y0{bottom:318.000000px;}
.y12{bottom:326.385986px;}
.y11{bottom:362.165009px;}
.y10{bottom:388.385986px;}
.yf{bottom:424.165009px;}
.ye{bottom:437.165009px;}
.yd{bottom:450.165009px;}
.yc{bottom:463.165009px;}
.yb{bottom:489.386002px;}
.ya{bottom:525.164993px;}
.y9{bottom:538.164993px;}
.y8{bottom:550.776001px;}
.y7{bottom:577.386002px;}
.y6{bottom:613.165001px;}
.y5{bottom:626.165001px;}
.y4{bottom:648.165001px;}
.y3{bottom:661.165001px;}
.y2{bottom:674.165001px;}
.y1{bottom:692.589001px;}
.h3{height:27.351562px;}
.h5{height:31.910156px;}
.h4{height:36.468750px;}
.h2{height:51.664062px;}
.h1{height:252.000000px;}
.h0{height:792.000000px;}
.w1{width:468.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-8.250667pt;}
._1{margin-left:-3.173333pt;}
._2{margin-left:-1.631990pt;}
.fs1{font-size:48.000000pt;}
.fs3{font-size:56.000000pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:90.666667pt;}
.y1f{bottom:150.219971pt;}
.y1e{bottom:167.553304pt;}
.y1d{bottom:190.886637pt;}
.y1c{bottom:207.701335pt;}
.y1b{bottom:237.553304pt;}
.y1a{bottom:254.886637pt;}
.y19{bottom:272.219971pt;}
.y18{bottom:289.553345pt;}
.y17{bottom:312.886678pt;}
.y16{bottom:329.701335pt;}
.y15{bottom:359.553345pt;}
.y14{bottom:382.886678pt;}
.y13{bottom:399.701335pt;}
.y0{bottom:424.000000pt;}
.y12{bottom:435.181315pt;}
.y11{bottom:482.886678pt;}
.y10{bottom:517.847982pt;}
.yf{bottom:565.553345pt;}
.ye{bottom:582.886678pt;}
.yd{bottom:600.220011pt;}
.yc{bottom:617.553345pt;}
.yb{bottom:652.514669pt;}
.ya{bottom:700.219991pt;}
.y9{bottom:717.553324pt;}
.y8{bottom:734.368001pt;}
.y7{bottom:769.848002pt;}
.y6{bottom:817.553335pt;}
.y5{bottom:834.886668pt;}
.y4{bottom:864.220001pt;}
.y3{bottom:881.553335pt;}
.y2{bottom:898.886668pt;}
.y1{bottom:923.452001pt;}
.h3{height:36.468750pt;}
.h5{height:42.546875pt;}
.h4{height:48.625000pt;}
.h2{height:68.885417pt;}
.h1{height:336.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:624.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
}
